<!doctype html>
<html>
<head>
    <script src="../View/assets/js/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="../View/assets/js/amazeui.ie8polyfill.min.js"></script>
    <script src="http://res.xiami.net/pc/lay/lib.js"></script>
    <script src="../View/layer/layer.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>张国福的博客</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../View/assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../View/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../View/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="../View/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../View/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../View/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="../View/images/logo.jpg" alt="Amaze UI Logo"/>
        <h2 class="am-hide-sm-only">每天唤醒我们的不是闹钟,而是我们的梦想!</h2>
    </div>
</header>
<hr>

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li ><a href="http://www.kuaidianwoba.com/home/Controller/index_controller.php?pagenow=1">首页</a></li>
            <li><a href="../View/lw-img.html">图片库</a></li>
            <li ><a href="http://www.kuaidianwoba.com/home/Controller/self_controller.php">关于我</a></li>
        </ul>
        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
    </div>
</nav>
<hr>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
        <div>
            <p>
                姓名：张国福<br />
                职业：<span>php</span>开发工程师<br />
                手 机：<span>15001262936</span><br />
                备用<span>e-mail</span>：<span><a href="mailto:hongzhulei@qq.com">hongzhulei@qq.com</a></span><br />
                个人简述： 我是一个农务员的儿子（其实就是一个农民的儿子，这家伙总想拉高自己），来自社会的草根阶层。爱折腾，爱追求新的技术和框架，<span>ci</span>框架<span>,yii</span>框架都懂一点<span>,tp</span>和<span>laravel</span>用的比较多<span>,</span>觉得能一个人独立完成一个项目是很牛逼的事情。而且一直往这个方向靠拢。<span></span>
            </p>

                <table cellspacing="0" cellpadding="0" align="left">
                    <tbody>
                    <tr>
                        <td valign="top" align="left">
            <p style="margin-left:35.85pt;text-indent:-18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">1</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟练<span>php</span>语言开发<span>,</span>深入理解<span>oop</span>编程思想，具有良好的编码习惯；<span></span></span>
            </p>
            <p style="margin-left:35.85pt;text-indent:-18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">2</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟悉<span>mvc</span>设计模式，<span>smarty</span>模板技术；<span></span></span>
            </p>
            <p style="margin-left:35.85pt;text-indent:-18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">3</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟悉<span>laravel</span>开源框架的使用和配置<span>;</span>熟悉<span>thinkphp</span>开源框架的使用和配置；<span></span></span>
            </p>
            <p style="margin-left:35.85pt;text-indent:-18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">4</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟悉<span>sql</span>语句，了解<span>mysql</span>索引的原理及使用，具备一定<span>mysql</span>优化经验；<span></span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">5</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟悉<span>linux</span>基本命令及<span>apache</span>服务器相关配置，<span>lamp</span>环境搭建<span>,lnmp</span>环境搭建；<span></span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">6</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、了解服务器架构的部分知识，可以根据文档完成部分服务器架构，如读写分离<span>,</span>主从复制等<span>;</span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">7</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、了解并能应用<span>nosql</span>产品，如<span>memcached</span>、<span>mongodb;</span></span>
            </p>
            <p style="vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">&nbsp; &nbsp; <span></span>&nbsp; &nbsp;8</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、有<span>ui</span>和前端开发经验<span>,</span>熟悉<span>html</span>、<span>css</span>，熟练使用<span>div+css</span>进行页面布局；<span></span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">9</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、熟悉<span>javascript</span>、<span>jquery</span>、<span>ajax</span>技术<span>,</span>了解<span>vue</span>； <span></span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
                <span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">10</span><span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;">、有微信公众号开发经验<span>,</span>了解微信小程序；<span></span></span>
            </p>
            <p style="text-indent:18.0pt;vertical-align:baseline;">
						<span style="font-size:9.0pt;font-family:&quot;color:#4472c4;background:white;"><span>11、熟悉</span><span>bootstrap</span><span>部分功能</span><span>,</span><span>了解</span><span>node;</span><br />
</span>
            </p>
            </td>
            </tr>
            </tbody>
            </table>

            <p style="text-indent:18.0pt;">
                <br />
            </p>










        </div>
        <!--分享了解-->

        <div class="am-g blog-article-widget blog-article-margin">
            <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">

                <hr>
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            </div>
        </div>


        <!--下面是留言内容-->
        <hr>
        <{if $comments=="nothing in your table"}>
        <h3><span>来自 &nbsp;: &nbsp;</span><span class="blog-color">还没有人给博主留言捏!快来抢个沙发吧!!!</span></h3>
        <{else}>
        <{foreach $comments as $comment}>
        <div class="am-g blog-author blog-article-margin">
            <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                <img src="../View/images/toux.png" alt="" class="blog-author-img am-circle">
            </div>
            <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                <h3><span>来自 &nbsp;: &nbsp;</span><span class="blog-color"><{$comment['comment_name']}></span>的留言&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="font-size: small;color: rgba(128,128,128,0.7)"><{$comment['create_at']}></span></h3>
                <p><{$comment['comment_main']}></p>
            </div>
        </div>
        <{/foreach}>
        <{/if}>
        <hr>

        <form class="am-form am-g" name="form1" id="form1" >
            <h3  class="blog-comment">留言</h3>
            <fieldset>
                <div class="am-form-group am-u-sm-4 blog-clear-left">
                    <input name="name" type="text" class="" id="name" placeholder="名字4-8个字符哦">
                </div>
                <div class="am-form-group">
                    <textarea name="main" id="main" class="" rows="5" placeholder="不超过60个字哦"></textarea>
                </div>

                <p><button type="submit" class="am-btn am-btn-default">发表留言</button></p>
            </fieldset>
        </form>

        <hr>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="../View/assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
            <p>关于生活</p>
            <p>
                生活坏到一定程度就会好起来，因为它无法更坏。努力过后，才知道许多事情，坚持坚持，就过来了。
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">PHP</a>
                <a href="" class="blog-tag">LARAVEL</a>
                <a href="" class="blog-tag">HTML5</a>
                <a href="" class="blog-tag">JS</a>
                <a href="" class="blog-tag">CSS3</a>
                <a href="" class="blog-tag">EC6</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>生活格言</span></h2>
            <ul class="am-list">
                <li><a href="#">其嗜欲深者，其天机浅。</a></li>
                <li><a href="#">不管前方的路有多苦，只要走的方向正确，不管多么崎岖不平，都比站在原地更接近幸福。</a></li>
                <li><a href="#">  至少应该展翅高飞一次，哪怕是一场没有方向的旅行。至少应该高飞，在未落地之前。</a></li>
                <li><a href="#">损着别人的牙眼，却反对报复，主张宽容的人，万勿和他
                    接近。</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- content end -->


<footer class="blog-footer">
    <div class="blog-text-center">Copyright © 1996 - 2017 Zhang Guofu Corporation, All Rights Reserved</div>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->

<!--<![endif]-->
<!--[if lte IE 8 ]>

<![endif]-->
<script src="../View/assets/js/amazeui.min.js"></script>
<!-- <script src="../View/assets/js/app.js"></script> -->
<script>
    $(function () {
//    确认操作时触发
        $("#form1").submit(
            function (e) {
                e.preventDefault();
                var shuju =$(this).serialize();
                $.ajax({
                    url:location.href,
                    data:shuju,
                    datatype:'json',
                    type:'post',
                    success:function (event) {
                        layer.alert("留言成功",{icon:6},function () {
                            parent.window.location.href= parent.window.location.href;
                            layer.close();
                        });
                    }
                })
            }
        )

    })
</script>
</body>
</html>