<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>张国福的个人博客</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../View/assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../View/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../View/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="../View/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="../View/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../View/assets/css/app.css">
</head>

<body id="blog">

<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="../View/images/logo.jpg" alt="Amaze UI Logo"/>
        <h2 class="am-hide-sm-only">每天唤醒我们的不是闹钟,而是我们的梦想!</h2>
    </div>
</header>
<hr>
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li ><a href="http://www.kuaidianwoba.com/home/Controller/index_controller.php?pagenow=1">首页</a></li>
      <li><a href="../View/lw-img.html">图片库</a></li>
        <li ><a href="http://www.kuaidianwoba.com/home/Controller/self_controller.php">关于我</a></li>
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
<hr>
<!-- nav end -->
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
      <li>
            <img src="../View/assets/i/b1.jpg">
            <div class="blog-slider-desc am-slider-desc " id="blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span class="blog-bor">2015/10/9</span>
                    <br><br><br><br><br><br><br>
                </div>
            </div>
      </li>
      <li>
            <img src="../View/assets/i/b2.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>
                </div>
            </div>
      </li>
      <li>
            <img src="../View/assets/i/b3.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>
                </div>
            </div>
      </li>
      <li>
            <img src="../View/assets/i/b2.jpg">
            <div class="am-slider-desc blog-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">Article &nbsp;</a></span>
                    <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                    <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                    </p>
                    <span>2015/10/9</span>
                </div>
            </div>
      </li>
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <{foreach $arrs as $arr}>
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <a href="<{ZONE}>home/Controller/article_controller.php?id=<{$arr['art_id']}>"> <img src="../../admin/Controller/<{$arr['img']}>" alt="" class="am-u-sm-12"></a>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span> <{$arr['AUTHORS']}> &nbsp;</span>
                <span><{$arr['created_at']}></span>
                <h1><a href="<{ZONE}>home/Controller/article_controller.php?id=<{$arr['art_id']}>"><{$arr['art_title']}></a></h1>

                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        <{/foreach}>
        <ul class="am-pagination">
            <{if $arr11['pagenow']==1}>
            <li class="am-pagination-prev"><span>第一页 &raquo;</span></li>
            <{else}>
            <li class="am-pagination-prev"><a href="?pagenow=<{$arr11['pre']}>">&laquo; 上一页</a></li>
            <{/if}>


            <{if $arr11['pagenow']==$arr11['pages']}>
            <li class="am-pagination-next"><span>&laquo; 末页</span></li>
            <{else}>
            <li class="am-pagination-next"><a href="?pagenow=<{$arr11['next']}>">下一页 &raquo;</a></li>
            <{/if}>


</ul>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="../View/assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
            <p>关于生活</p>
            <p>
                生活坏到一定程度就会好起来，因为它无法更坏。努力过后，才知道许多事情，坚持坚持，就过来了。
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">PHP</a>
            <a href="" class="blog-tag">LARAVEL</a>
            <a href="" class="blog-tag">HTML5</a>
            <a href="" class="blog-tag">JS</a>
            <a href="" class="blog-tag">CSS3</a>
            <a href="" class="blog-tag">EC6</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>生活格言</span></h2>
            <ul class="am-list">
                <li><a href="#">其嗜欲深者，其天机浅。</a></li>
                <li><a href="#">不管前方的路有多苦，只要走的方向正确，不管多么崎岖不平，都比站在原地更接近幸福。</a></li>
                <li><a href="#">  至少应该展翅高飞一次，哪怕是一场没有方向的旅行。至少应该高飞，在未落地之前。</a></li>
                <li><a href="#">损着别人的牙眼，却反对报复，主张宽容的人，万勿和他
                    接近。</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- content end -->



  <footer class="blog-footer">
    <div class="blog-text-center">Copyright © 1996 - 2017 Zhang Guofu Corporation, All Rights Reserved</div>
  </footer>





<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../View/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../View/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../View/assets/js/amazeui.min.js"></script>
</body>
</html>