﻿<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<script src="../View/Js/jquery.js"></script>
<link href="../View/Css/public.css" rel="stylesheet" type="text/css" />
	<script src="http://res.xiami.net/pc/lay/lib.js"></script>
	<script src="../View/layer/layer.min.js"></script>
<title>用户管理</title>
</head>

<body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0" oncontextmenu="self.event.returnValue=false">
<noscript><iframe src=*.html></iframe></noscript>
<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
	<tr class="topbg"><td>用户管理</td></tr>
	<tr class="tdbg">
	  <td height="30">&nbsp;&nbsp;<a href="http://www.kuaidianwoba.com/admin/Controller/index_controller.php">管理首页</a>&nbsp;|&nbsp;<a href="#">添加用户</a></td>
	</tr>
</table>
<br />
<form id="form1" name="form1" method="post" action="../Controller/index_controller.php" >
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="border">
	<tr class="title">
		<td colspan="2" align="center">添加用户</td>
	</tr>
	<tr class="tdbg">
		<td width="15%"  height="30" align="right">用户名称：</td>
		<td width="85%">
			<input name="logname" type="text" id="logname" size="20" maxlength="15" />
			<font color="red">*</font>
			<font color="#666666">长度为5-15位（字母、数字），不能含有特殊符号</font>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">用户密码：</td>
		<td>
			<input name="password" type="password" id="password" size="20" maxlength="15" />
			<font color="#FF0000">*</font>
			<font color="#666666">长度为5-15位（字母、数字），不能含有特殊符号</font>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30"  align="right">确认密码：</td>
		<td>
			<input  type="password" id="confirmpwd" size="20" maxlength="15" />
			<font color="#FF0000">*</font>
			<font color="#666666">两次输入的密码必须一致</font>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">真实姓名：</td>
		<td>
			<input name="realname" type="text" id="name" size="20" maxlength="15" />
			<font color="#FF0000">*</font> <font color="#666666">你的姓名</font>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">联系方式：</td>
		<td>
			<input name="tel" type="text" id="tel" size="20" maxlength="20" />
			<font color="#FF0000">*</font> 
			<font color="#666666">例如：13671181498 或 010-12345678</font>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">角色：</td>
		<td>
			<select name="rolename">
				<option value="1"  selected="selected">超级管理员</option>
				<option value="0">普通管理员</option>
			</select>
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">&nbsp;</td>
		<td>
			<input type="submit" value="提交" />
			<input type="button" onclick="history.go(-1)" value="返回" />
		</td>
	</tr>
</table>
</form>

<script>
$(function () {
    $("#logname").blur(function(){
        var logname_length=$("#logname").val().length;
        if(logname_length<4){
            layer.alert('输入长度不符合哦亲', {
                skin: 'layui-layer-molv' //样式类名
                ,closeBtn: 0
            });

        }

    });


    $("#confirmpwd").blur(function(){
        var a1=$("#confirmpwd").val();
        var b1=$("#password").val();
        if(a1!=b1){
            layer.alert('两次密码不相等啊宝宝', {
                skin: 'layui-layer-molv' //样式类名
                ,closeBtn: 0
            });

        }

    });





    $("#form1").submit(function (e) {
		e.preventDefault();
		var shuju=$(this).serialize();
        console.log(shuju);
        $.ajax({
       url:location.href,
       data:shuju,
       datatype:'json',
       type:'post',
       success:function (msg) {
           layer.alert('添加成功了',{icon:6},function () {
               parent.window.location.href = parent.window.location.href; //父页面刷新
               layer_close();  //关闭当前添加页

           });


       }
   })
    })
	
})
</script>
</body>
</html>
